<mat-card class="container">
  <form>
  
  
  <mat-card-content>
  
    <div fxLayout="column">
  
  
    
  
   
  
    
      <mat-form-field Flex="30%">
        <mat-label>Search for a Group</mat-label>
        <input  matInput>
       
      
      </mat-form-field>
    </div>    
    
  </mat-card-content>
  
  
  <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
    <button type="button" mat-raised-button [routerLink]="['../']">Back</button>
    <button mat-raised-button color="primary" disabled>Add</button>
  </mat-card-actions>
  </form>
  </mat-card>