<mat-card class="cont">
  <h2>Edit Group</h2><hr>
  <mat-form-field class="editline">
      <mat-label>Name</mat-label>
      <input required matInput formControlName="name">
     </mat-form-field>

  <mat-form-field class="editline">   
    <mat-label>Select Staff *</mat-label>
    <mat-select >
      <mat-option >
        
      </mat-option>
    </mat-select>
  </mat-form-field><br>

  <mat-form-field class="editline">
    <mat-label>External Id</mat-label>
    <input required matInput formControlName="externalid">
  </mat-form-field>

  <mat-form-field class="editline">
    <mat-label>Activation Date</mat-label>
    <input required matInput formControlName="activationdate">
  </mat-form-field>

  <button mat-raised-button class="cancelbutton" color="primary">Cancel</button>
  <button mat-raised-button class="submitbutton" color="primary">Submit</button>
</mat-card>