<mat-card class="cont">
  <mat-form-field class="editline">
    <input type="text" matInput placeholder="Name *" class="placeholder">
  </mat-form-field><br>
  <mat-form-field class="editline">
    <input type="text" matInput placeholder="Staff *" class="placeholder" >
  </mat-form-field><br>
  <mat-form-field class="editline">
    <input  matInput  placeholder="Activation Date *" class="placeholder">
  </mat-form-field><br>
  <mat-form-field class="editline">
    <input matInput placeholder="External Id" class="placeholder">
  </mat-form-field>
  <button mat-raised-button class="cancelbutton">Cancel</button>
  <button mat-raised-button class="submitbutton">Submit</button>
</mat-card>