<mat-card class="container">
<form>


<mat-card-content>

  <div fxLayout="column">


  

 

    <mat-form-field fxFlex="30%">
      <mat-label>Meeting Date</mat-label>
      <input matInput  [matDatepicker]="startDatePicker">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

  </div>    
  
</mat-card-content>


<mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
  <button type="button" mat-raised-button [routerLink]="['../']">Cancel</button>
  <button mat-raised-button color="primary" disabled>Submit</button>
</mat-card-actions>
</form>
</mat-card>