.general-history-container
{
    border: 1px solid;
    padding: 1%;
}
.general-actions
{
    align-self:flex-end;
margin: 0 3%;
}
.general-card{
    margin: 0 auto;
    max-width: 100rem;
    width: 90%;
    padding: 0;
}
.general-perform-history-cont{
    margin-top: 2%;
    border: 1px solid;
    padding:2%;
}
.general-button{
    margin-left: 35%;
    align-self: flex-end;
    border: 15%;
}
.general-button1{
    margin-left: 19%;
}
