<div class="tab-container mat-typography client-card">
    <br><h3> Clients</h3>
<div fxLayout="row" fxLayoutGap="32px" class="general-history-container">
    <div class="general-actions general-card">
    <button mat-raised-button [routerLink]="['../../transferclients']" color="primary">Transfer Clients </button> &nbsp;
    <button mat-raised-button [routerLink]="['../../managemembers']" color="primary">Manage Members </button> &nbsp;
    <button mat-raised-button [routerLink]="['../../addmembers']" color="primary"> Add</button>&nbsp;
    <div class="general-perform-history-cont">
        <p>Account No &nbsp;&nbsp;&nbsp;&nbsp;
            Name &nbsp;&nbsp;&nbsp;&nbsp; 
             Actions 
        </p><hr>
        <p>
            <button mat-raised-button class="general-button" [routerLink]="['../../jlgloan1']"color="primary">+ JLG Loan Application</button>
        </p><hr>
        <p>
            <button mat-raised-button class="general-button"[routerLink]="['../../jlgloan1']" color="primary">+ JLG Loan Application</button>
        </p><hr>       
        </div><br>
        <p> <b>Savings Account Overview</b>
            <button mat-raised-button class="general-button1" [routerLink]="['../../viewcloseacc']" color="primary">
                View Closed Accounts</button>
        <br></p>
        <div class="general-perform-history-cont">
        <p>Account # &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Products &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Balance  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Actions
        </p>
        
    </div>
        
        </div>

</div>
</div>
