<mat-card class="cont">
  <h2>Create Client</h2><hr>

  <mat-form-field class="addline">
    <mat-label>Select Legal Form</mat-label>
    <input required matInput formControlName="seleclegalform">
  </mat-form-field><br>

  <mat-form-field class="addline">
    <mat-label>First Name</mat-label>
    <input required matInput formControlName="firstname">
  </mat-form-field><br>

  <mat-form-field class="addline">
    <mat-label>Middle Name</mat-label>
    <input  matInput formControlName="middlename">
  </mat-form-field><br>

  <mat-form-field class="addline" >
    <mat-label>Last Name</mat-label>
    <input required matInput formControlName="lastname">
  </mat-form-field><br>

  <mat-form-field class="addline">
    <mat-label>Mobile Number</mat-label>
    <input matInput formControlName="mobilenumber">
  </mat-form-field><br>

  <mat-form-field class="addline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field><br>


  <mat-form-field class="addline">
    <mat-label>Date of Birth</mat-label>
    <input matInput formControlName="dateofbirth">
  </mat-form-field><br>

  <mat-form-field class="addline">
    <mat-label>ExternalId</mat-label>
    <input matInput formControlName="external">
  </mat-form-field><br>

  <mat-form-field class="addline">
    <mat-label>Active</mat-label>
    <input matInput formControlName="client">
  </mat-form-field>


</mat-card>