.cont{
    width: 60%;
    margin-left: 20%;
    border: 40%;
    margin-bottom: 100%;
}
.grpline{
    width: 40%
}
.placeholder{
    margin-right: 50%;
}
.drag{
    margin-left: 40%;
    margin-top: -50%;
}
.cancel{
    margin-left: 36%;
    margin-top: 5%;
}
.submit{
    margin-left: 3%;
}