.cont{
    width: 60%;
    margin-left: 20%;
    border: 40%;
    margin-bottom: 100%;
}
.grpline{
    width: 40%
}
.placeholder{
    margin-right: 50%;
}
.tranbutton{
    align-content: flex-start;
    margin-left: 44%  
}
.tranbutton1{
    margin-left: 44%;
    align-content: flex-end
}
.confirm{
    margin-left: 3%;
}
.text1{
    margin-left: 150;
}
.buttonc{
 margin-left: 40%;
}
.buttons{
    margin-left: 2%;
}