<mat-card class="cont">
  <h2>Transfer Client Between Groups</h2><hr>
  <p> Clients &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- Available Clients &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         Selected Clients -->
  </p>
  <!--
    <textarea id=" " style="align-content: flex-start;" >
      
    </textarea>
    <textarea id=" " style="align-content: flex-end;">
      
    </textarea> -->
    <button mat-raised-button class="tranbutton" color="primary">
      <span class="material-icons ">
        keyboard_arrow_right
        </span>
        </button><br>
        <button mat-raised-button class="tranbutton1" color="primary">
        <span class="material-icons">
          keyboard_arrow_left
        </span>
        </button><br>
        <form>
          <label> Inherit Group Loan Officer</label>
        <input type="checkbox" id="" name="" value="">
        </form>
        <mat-form-field >
          <input type="text" matInput placeholder="Destination Group *" class="placeholder">
        </mat-form-field><br>
        <button mat-raised-button class="buttonc" color="primary">Cancel</button>
        <button mat-raised-button class="buttons" color="primary">Submit</button>
      
</mat-card>