<mat-card class="cont">
  <h2> Attendance</h2><hr>
  <mat-form-field class="grpline">
  <input type="" matInput placeholder="Meeting Date *" class="placeholder">
  </mat-form-field>
  <p> Next Meeting on :</p>
<table class="th">
  <tr >
    <th > Name</th>
    <th> Attendance</th>
  </tr>
  <tr>
    <td> </td>
    <td>
      <mat-select>
      <mat-option ></mat-option>
    </mat-select></td>
  </tr><br>
  <tr>
    <td> </td>
    <td>
      <mat-select >
        <mat-option></mat-option>
      </mat-select>
    </td>
  </tr>
</table><br>
    
    <button mat-raised-button class="cancel" color="primary">Cancel</button>
    <button mat-raised-button class="submit" color="primary">Submit</button>
</mat-card>