<mat-card class="cont">
  <mat-form-field class="grpline">
  <input type="" matInput placeholder="Meeting Date *" class="placeholder">
  </mat-form-field>
  <p> Next Meeting on :</p>
<table class="th">
  <tr >
    <th > Name</th>
    <th> Attendance</th>
  </tr>
  <tr>
    <td> </td>
    <td>
      <select style="margin-left: 90%;">
      <option ></option>
    </select></td>
  </tr><br>
  <tr>
    <td> </td>
    <td>
      <select style="margin-left: 90%;">
        <option></option>
      </select>
    </td>
  </tr>
</table><br>
    
    <button mat-raised-button class="cancel">Cancel</button>
    <button mat-raised-button class="submit">Submit</button>
</mat-card>