<div fxLayput="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">

  <button mat-raised-button color="primary" [routerLink]="['/dashboard']">
    <fa-icon icon="tachometer-alt"></fa-icon>&nbsp;&nbsp;
    Dashboard
  </button>

</div>

<div class="container">

  <mat-card>

    <mat-card-header>
      <mat-card-title class="title">
        Welcome, {{ username }}!
      </mat-card-title>
    </mat-card-header>

    <img mat-card-image src="assets/images/FinOS.svg" style="display: block;
    margin-left:auto;
    margin-right: auto;
    width:50%;" alt="Finos"> 

  </mat-card>

</div>
