#footer {
  .divider {
    margin: 2.5rem 1rem 0.5rem;
    width: 4rem;
  }

  .footer-content {
    margin: 0;
    color :#777777;
    font-size: 90%;
    a{
      color:#4f99ed;
      text-decoration: none;
    }
  }
}
