<mat-card class="cont">
  <h2>Associate New Members</h2><hr>
  <mat-form-field>
    <input type="text" matInput placeholder="Search for a Member" class="placeholder">
    </mat-form-field>
    
  <h3 class="group"> Group Members</h3>
  
  <mat-form-field class="name">
  <input type="text" matInput placeholder="Name1">
  </mat-form-field>
  <button mat-raised-button color= "primary">
  <span class="material-icons">
    clear
    </span>
  </button>
  <mat-form-field class="name">
    <input type="text" matInput placeholder="Name2">
    </mat-form-field>
    <button mat-raised-button color= "primary">
    <span class="material-icons">
      clear
      </span>
    </button>
    <button mat-raised-button color="primary" class="buttonb">
      Back
    </button>
  
</mat-card>