.cont{
    width: 60%;
    margin-left: 20%;
    border: 40%;
    margin-bottom: 100%;
}
.placeholder{
    margin-right: 50%;
}
.group{
    margin-left: 70%;
    margin-top: -5%;
}
.name{
    margin-left: 65%;
}
.buttonb{
    margin-left: 45%;
   }
